@use '../../../style/variables';

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: variables.$background-blur;
    backdrop-filter: blur(5px);
    z-index: 1;
    pointer-events: none;
}     
