@use '../../../style/mixins' as mx;
@use '../../../style/variables'as v;

.card{
    @include mx.vertical-display;
    background: v.$white;
    border-radius: 10px;
    box-shadow: v.$box-shadow;
    overflow: hidden;
    padding: 2rem;

    >* {
        margin: 0;
      }

    &.hover:hover{
        transform: scale(1.1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }
}