@use '../../../style/variables' as v;
@use '../../../style/mixins' as mx;

.pagination{
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
    @include mx.horizontal-display(0.5rem);

    .error-message{
        padding-right: 2rem;
    }

    button{
        padding: 0.5rem 0.75rem;
        transition: background-color 0.3s;
    }

    button:not(.current-num){
        background-color: white;
        color: black;
        border: 1px solid #ccc;

        &:not(:disabled):hover{
            background-color: #e0e0e0
        }

        &:disabled{
            background-color: #aaa;
        }
    }


}