// ==================================================
// 📌 Biến toàn cục dùng trong toàn bộ dự án (màu sắc, font chữ)
// ==================================================
@use "sass:math";

$primary-color: #007bff;
$background-blur: rgba(0, 0, 0, 0.6);
$bg-main-white: #f8f9fa;
$white: #ffffff;
$label-color: #6c757d;
$error-color: #dc3545;
$logo-color: #f4843a;
$accept-color: #00BF00;

$box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

$font-family: 'Fira Sans', sans-serif;

$media_radio: math.div(16, 9);
      
$bp-sm: 480px;    
$bp-md: 768px;    
$bp-lg: 992px;    
$bp-xl: 1200px;   
$bp-xxl: 1400px;