@use '../../../style/variables' as v;
@use '../../../style/mixins' as mx;
@use 'sass:color';

footer{
    padding: 2rem;
    padding-bottom: 0.5rem !important;
    width: 100%;
    @include mx.vertical-display(0px);
    background: color.adjust(v.$logo-color, $lightness: 0%);
    z-index: 99;

    & > *{
        width: 100%;
    }

    & > *:not(& > *:nth-of-type(1)){
        padding-top: 1rem;
        border-top: 1px wheat solid;
    }

    .footer-main{
        max-width: calc(v.$bp-md + 100px);
        @media (max-width: calc(v.$bp-md + 100px)){
            @include mx.vertical-display;
        }

        @media (min-width: calc(v.$bp-md + 100px)){
            @include mx.horizontal-grid(1rem, $min: 380px);
        }

        .footer-container{
            @include mx.vertical-display;
            .footer-logo {
                background: color.adjust(v.$logo-color, $lightness: 30%);
                box-shadow: 0 0 15px 10px rgba(244, 132, 58, 0.5);
                padding: 0 0.1rem;
                overflow: hidden;
                width: 12.5rem;
            }

            .footer-social{
                @include mx.horizontal-display;
                font-size: 2rem;
                height: 2.1rem;
                transform: translateY(-1rem);
                
                a{
                    color: color.adjust(v.$logo-color, $lightness: -30%);
                    position: relative;
                    width: 2rem;

                    i{
                        position: absolute;
                        z-index: 2;
                    }

                    div{
                        z-index: 1;
                        position: absolute;
                        background-color: rgb(255, 255, 255);
                    }

                    &:nth-of-type(1){
                    
                        &:hover{
                            transform: scale(1.1);
                            color: #006eff;

                            div{
                                width: 1.2rem;
                                height: 1.6rem;
                                top: 0.2rem;
                                left: 0.2rem;
                            }
                        }
                    }

                    &:nth-of-type(2):hover{
                        transform: scale(1.1);
                        color: #000;

                        div{
                            width: 1.2rem;
                            height: 1.6rem;
                            top: 0.2rem;
                            left: 0.2rem;
                        }
                    }

                    &:nth-of-type(3):hover{
                        transform: scale(1.1);
                        color: #ff0000;

                        div{
                            width: 1.2rem;
                            height: 1rem;
                            top: 0.4rem;
                            left: 0.2rem;
                        }
                    }
                }
            }
        }

        .footer-contact{
            width: 20rem;
        }
    }
    
    .footer-bottom{
        text-align: center;
    }
}