@use '../../../style/mixins';
@use '../../../style/variables';

.guest-background{
    background: url('../../../assets/images/LoginBackground.jpg') no-repeat center;
    background-size: cover;
    @include mixins.background;

    &__blur{
        background: rgba(0, 0, 0, 0.3);
    }
}

.guest-background .guest-background__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
