@use "../../style/variables" as v;
@use "../../style/mixins" as mx;    
@use "sass:color";

.left-menu{
    padding: 0;
    margin: 0;
    background-color: v.$bg-main-white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: v.$box-shadow;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover{
                background-color: color.adjust(v.$logo-color, $lightness: 30%);
            }

            &.active{
                background-color: v.$logo-color;
                
                a{
                    color: white;
                    pointer-events: none;
                }
            }

            a{
                display: block;
                text-decoration: none;
                color: #000;
                padding: 1rem 2rem;
            }
        }
    }

    @media(max-width: v.$bp-md) {
        display: none;
    }
}

.info{
    & > .right-side{
        flex-grow: 1;
        background-color: white;
        padding: 2rem;
        box-shadow: v.$box-shadow;
        border-radius: 10px;
    }

    .start{
        @include mx.animate-effect("fadeInUp", 1s);
    }

    & > div > section > h3{
        margin: 0 0 1rem 0;
        width: 100%;
        text-align: start;
    }
}

@media (max-width: v.$bp-md) {
  .info > .right-side {
    width: 100%;
    overflow: auto;
    
    & > *{
        align-items: start;
    }
  }
}