@use '../../../style/variables';

.choice-wrapper {
    position: relative;
  
    .choice-label {
      position: absolute;
      top: -0.5rem;
      left: 0.75rem;
      padding: 0 0.25rem;
      font-size: 0.75rem;
      color: variables.$label-color;
      background-color: variables.$white;
      transition: all 0.3s ease;
      pointer-events: none;
    }
  
    .choice-group {
      display: grid;
      gap: 0.25rem;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      padding: 0.625rem 1rem 0.5rem 1rem;
    }
  
    .choice-item {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  
      .choice-input {
        margin-right: 0.625rem !important;
        margin: 0;
        accent-color: variables.$primary-color; // Màu checkbox/radio nổi bật
        width: 1rem;
        height: 1rem;
        cursor: pointer;
      }
  
      .choice-text {
        font-size: 0.875rem;
        transition: color 0.2s ease;
      }
  
      &:hover {
        .choice-text {
          color: variables.$primary-color;
          animation: color 0.2s ease;
        }
      }
    }
  }

  fieldset{
    margin: 0;
  }